{% load static %}
<html>
<head>
<title>BSSPD</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>BSSPD: A Blockchain-Based Security Sharing Scheme for Personal
Data with Fine-Grained Access Control</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
           <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Login' %}">User Login Here</a></li>
      <li><a href="{% url 'Signup' %}">New User Signup Here</a></li>
     
   </ul>
          </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/bg2.jpg' %}" width="1000" height="450" alt="" /></div>

		{{ data }}

      
 
 
  </body>
</html>
